*{
 margin: 0;
 padding: 0;
}

.App{
  background-color: rgb(0, 0, 0);
  
}


.headerTitle{
  font-family: 'Montserrat', sans-serif; font-weight:400;
 padding: 1em;
 text-align: center;
 font-size: 3.5em;


}

.Dark{
  color: #ccc;
}

.Light {
  color: #000000;
}
.AppLight{
  background-color: rgb(255, 255, 255);

}

.toggleMode {
margin-bottom: 3em;
  background: #000;
  font-size: 1em;
  color: #fff;
  line-height: 19px;
  font-family: 'Montserrat', sans-serif; font-weight:400;
  cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    border:solid 2px #1f1f1f;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            letter-spacing: 3px;
            
}

.toggleMode:hover{
  background: #fff;
    color: #1f1f1f !important;
}

.Characters{
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.container{

  font-family: 'Montserrat', sans-serif; font-weight:400;
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height:auto;
  width: 10em;
  font-size: 1em;
  color: #ccc;
  border-radius: 1em;
  padding: 3em;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border: 3px solid #ccc;
  text-decoration: none;
  


}

.image{
  width: 140px;
  opacity: 0.7;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  
}

.name{
  font-family: 'Montserrat', sans-serif; font-weight:400;
  padding: 0.3em;
  text-align: center;
  font-size: 2em;

}

.light{
  color: #000000;
}



.subDescription{
  font-family: 'Montserrat', sans-serif; font-weight:400;
  padding: 0.3em;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 0.7em;
}

.image:hover{
  opacity: 1;
  transform: scale(1.05);
}